<% content_for :body do %>
    <h3> All Applications </h3>
    <p><%= link_to "new apply", new_student_apply_path(@student) %> </p>

    <p><%= link_to "Batch Apply", student_applyall_path(@student) %></p>

    <table class="table table-hover table-bordered">
      <tr>
        <th>Student</th>
        <th>Course</th>
        <th>Type</th>
        <th>Accept Adjust</th>
        <th>Created At</th>
        <th>Last modified</th>
        <th> edit</th>
        <th>delete</th>
      </tr>

      <% @applies.each do |apply| %>
          <tr>
            <td><%= apply.student.fullname %></td>
            <!--<td><%#= apply.course.subject %> <%#= apply.course.num %>-<%#= apply.course.section %> <%#= apply.course.title %> </td>-->
            <td><%= apply.course.caption %></td>
            <td><%= apply.appType %></td>
            <td><%= booleanCaption(apply.acceptAdjust) %></td>
            <td><%= apply.created_at %></td>
            <td><%= apply.updated_at %></td>
            <td><%= link_to "edit",  edit_student_apply_path(@student,apply)%></td>
            <td><%= link_to "delete", student_apply_path(@student,apply), method: :delete, data: {confirm: "Are you sure to delete?"}%></td>
          </tr>
      <% end %>

    </table>
<% end %>