<h1>Applies#index</h1>
<p>Find me in app/views/applies/index.html.erb</p>

<h3> All Applications </h3>

      
<table class="table">
  <tr>
    <th>Course</th>
    <th>Type</th>
    <th>Accept Adjust</th>
    <th>Created At</th>
  </tr>
  
  <% @applies.each do |app| %>
  
      <td><%= app.course.subject %> <%= app.course.num %>-<%= app.course.section %> <%= app.course.title %> 
      </td>
      <td> <%= app.app_type %></td>
      <td><%= app.acceptAdjust %></td>
      <td><%= app.createdAt %></td>
  <% end %>

</table>
