
<h1>Instructor#index</h1>
<p>Find me in app/views/instructor/index.html.erb</p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<%= form_for :instructor do |f| %>
  <p>
    <%= f.label :first_namer %>:
    <%= f.text_field :first_name %>
    
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
    
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    
  </p>
  <p>
    <%= f.label :uin %>:
    <%= f.number_field :uin, in: 100000000..999999999 %>
    
    <%= f.label :email %>:
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>UIN</th>
      <th>Action</th>
    </tr>
  </thead>
 
<% for @inst in @inst_ls %>
<tr>
  <td><%= @inst.first_name %></td>
  <td><%= @inst.middle_name %></td>
  <td><%= @inst.last_name %></td>
  <td><%= @inst.email %></td>
  <td><%= @inst.uin %></td>
    <td>
          <button type="button" class="btn">
          <%= link_to 'Delete', instructors_path(@inst.uin) %>
          </button>
    </td>
</tr>
<% end %>
</table>