<div class="search">

<%= form_tag("/submit_application", method: "get") do %>
      <table class="table table-bordered">
        <tr>
          <th><%= label_tag(:name, "Name:") %></th>
          <td><%= text_field_tag(:name) %></td>
        </tr>
        <tr>
          <th><%= label_tag(:semester, "Application for Semester:") %></th>
          <td><%= select_tag(:semester, options_for_select(["Fall", "Spring"])) %></td>
        </tr>
      </table>

      <%= submit_tag("Search") %>

  <% end %>
  

</div>
<div class = "table">
<table>
  <tr>
    <th>All student</th>
  </tr>
 
  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.semester %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
    </tr>
  <% end %>
</table>
</div>