<div class = "table">
<table>
  <tr>
    <th>All student</th>
  </tr>
 
  <% @students.each do |student| %>
    <tr>
      <td><%= student.first_name %></td>
      <td><%= student.uin %></td>
      <td><%= student.date_enrolled %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
    </tr>
  <% end %>
</table>
</div>