<% content_for :body do %>
    <h3> All Applications </h3>
    <p><a href="applies.csv" target="_blank" class="btn btn-primary">Download All Applications</a> </p>
    <table class="table table-hover table-bordered">
      <tr>
        <th data-field="student_id" data-sortable="true">Student</th>
        <th data-field="course_id" data-sortable="true">Course</th>
        <th data-field="appType" data-sortable="true">Type</th>
        <th data-field="acceptAdjust" data-sortable="true">Accept Adjust</th>
        <th data-field="created_at" data-sortable="true">Created At</th>
        <th data-field="updated_at" data-sortable="true">Last modified</th>
      </tr>

      <% @applies.each do |apply| %>
          <tr>
            <td><%= apply.student.fullname %></td>
            <!--<td><%#= apply.course.subject %> <%#= apply.course.num %>-<%#= apply.course.section %> <%#= apply.course.title %> </td>-->
            <td><%= apply.course.caption %></td>
            <td><%= apply.appType %></td>
            <td><%= booleanCaption(apply.acceptAdjust) %></td>
            <td><%= apply.created_at %></td>
            <td><%= apply.updated_at %></td>
          </tr>
      <% end %>

    </table>
<% end %>