<% content_for :body do %>
    <h3> All Offers </h3>
    <%= link_to "Run TA matching", admin_ta_matching_path %>
    <table class="table table-hover table-bordered">
      <tr>
        <th>Course</th>
        <th>Type</th>
        <th>Student</th>
        <th>StudentUIN</th>
        <th>Student Accepted</th>
        <th>Instructor Accepted</th>
        <th>Created At</th>
        <th>Last modified</th>
        <th colspan=3>Actions</th>
      </tr>

      <% @offers.each do |offer| %>
          <tr>
            <td><%= offer.course.caption %></td>
            <td><%= offer.app_type %></td>
            <td><%= offeredStudentName(offer) %></td>
            <td><%= offeredStudentUIN(offer) %></td>
            <td><%= offer.student_accepted %></td>
            <td><%= offer.instructor_accepted %></td>
            <td><%= offer.created_at %></td>
            <td><%= offer.updated_at %></td>
            <td><%= link_to "edit",  edit_course_offer_path(offer.course, offer)%></td>
            <td><%= link_to "Send Email", course_offer_send_email_path(offer.course, offer) %> </td>
            <td><%= link_to "delete", course_offer_path(offer.course, offer), method: :delete, data: {confirm: "Are you sure to delete?"}%></td>
          </tr>
      <% end %>

    </table>
<% end %>