
<% content_for :body do %>
    <h3> All Offers </h3>
    
<a href="offers.csv" target="_blank" class="btn btn-primary">Download All</a>


    <%= link_to "Run TA matching", admin_ta_matching_path , {:class => "btn btn-primary"}%>
    <table class=" table table-striped sortable" data-sort-name="name" data-sort-order="desc">   
      <tr>
        <th data-field="title" data-sortable="true">Course</th>
        <th data-field="appType" data-sortable="true">Type</th>
        <th data-field="student_id" data-sortable="true">Student</th>
        <th data-field="uin" data-sortable="true">StudentUIN</th>
        <th >Student Accepted</th>
        <th data-field="instructor_id" data-sortable="true">Instructor Accepted</th>
        <th data-field="created_at" data-sortable="true">Created At</th>
        <th data-field="updated_at" data-sortable="true">Last modified</th>

     
    
        <th colspan=3>Status</th>
        <th colspan=3>Actions</th>
      </tr>

      <% @offers.each do |offer| %>
          <tr>
            <td><%= offer.course.caption %></td>
            <td><%= offer.app_type %></td>
            <td><%= offeredStudentName(offer) %></td>
            <td><%= offeredStudentUIN(offer) %></td>
            <td><%= offer.student_accepted %></td>
            <td><%= offer.instructor_accepted %></td>
            <td><%= offer.created_at %></td>
            <td><%= offer.updated_at %></td>
            <td><%= offer.status %></td>
            <td><%= link_to "edit",  edit_course_offer_path(offer.course, offer)%></td>
            <td><%= link_to "Send Email", course_offer_send_email_path(offer.course, offer) %> </td>
            <td><%= link_to "delete", course_offer_path(offer.course, offer), method: :delete, data: {confirm: "Are you sure to delete?"}%></td>
          </tr>
      <% end %>

    </table>
<% end %>