<%= form_for(@instructor) do |f| %>
      <% if @instructor.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@instructor.errors.count, "error") %> prohibited this course from being saved:
          </h2>
          <ul>
            <% @instructor.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form-group">
           <%= f.label :first_name %>
           <%= f.text_field :first_name %>
      </div>
      
      <div class="form-group">
           <%= f.label :middle_name %>
           <%= f.text_field :middle_name %>
      </div>
      
      <div class="form-group">
           <%= f.label :last_name %>
           <%= f.text_field :last_name %>
      </div>
      
      <div class="form-group">
           <%= f.label :email %>
           <%= f.text_field :email %>
      </div>

      <div class="form-group">
           <%= f.label :uin %>
            <%= f.number_field :uin, in: 100000000..999999999 %>
      </div>

      <div>
        <%= f.submit %>
      </div>
  <% end %>