<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'signin'%>
</head>

<body>
<div class="container">
  <p class="alert"><%= flash[:error] %></p>
  <div class="table-responsive">
    <%= form_tag({controller: "welcome", action: "login", method: "post"}, {:class=>"form-signin"}) do %>
        <h2 class="form-signin-heading">Please sign in</h2>
        <%#= label_tag(:uin, "UIN:", {:class=>"sr-only"}) %>
        <%#= text_field_tag :uin, nil, class: "form-control", placeholder: "UIN" %>
        <%= label_tag(:netID, "netID:", {:class=>"sr-only"}) %>
        <%= text_field_tag :netID, nil, class: "form-control" , placeholder: "netID" %>
        <%= label_tag(:password, "password:", {:class=>"sr-only"}) %>
        <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
        <%= label_tag(:q, "User Type:") %>
        <%= select_tag(:usertype, options_for_select([ "Student", "Instructor" ], "Student")) %>
        <p>UIN must be 9 digits. Or everything will be disabled after login.</p>
        <%= submit_tag("Log In", {:class=>"btn btn-lg btn-primary btn-block"}) %>
    <% end %>
    <%= link_to 'Administrator login', admin_index_path %>
  </div>

</div>
</body>
</html>

