<div class="table-responsive">
  <%= form_for @application, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
      <table class="table table-bordered">
        <tr>
          <th><%= f.label :name %></th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th><%= f.label :semester %></th>
          <td><%= f.select :semester, options_for_select(["a", "b"]) %></td>
        </tr>
      </table>
      <%= f.submit "Create" %>
  <% end %>


  <%= form_tag("/submit_application", method: "get") do %>
      <table class="table table-bordered">
        <tr>
          <th><%= label_tag(:name, "Name:") %></th>
          <td><%= text_field_tag(:name) %></td>
        </tr>
        <tr>
          <th><%= label_tag(:semester, "Application for Semester:") %></th>
          <td><%= select_tag(:semester, options_for_select(["a", "b"])) %></td>
        </tr>
      </table>
      <%= submit_tag("Search") %>
  <% end %>
</div>
