<% content_for :body do %>
    <h3> Offers of <%= @course.caption %> </h3>


    <%= link_to "new offer", new_course_offer_path(@course) %>

    <table class="table table-hover table-bordered">
      <tr>
        <th>Course</th>
        <th>Type</th>
        <th>Student</th>
        <th>UIN</th>
        <th>Student accepted</th>
        <th>Instructor accepted</th>
        <th>Created At</th>
        <th>Last modified</th>
        <th>Status</th>
        <th>edit</th>
        <th>delete</th>
      </tr>

      <% @offers.each do |offer| %>
          <tr>
            <td><%= offer.course.caption %></td>
            <td><%= offer.app_type %></td>
            <td><%= offeredStudentName(offer) %></td>
            <td><%= offeredStudentUIN(offer) %></td>
            <td><%= offer.student_accepted %></td>
            <td><%= offer.instructor_accepted %></td>
            <td><%= offer.created_at %></td>
            <td><%= offer.updated_at %></td>
            <td><%= offer.status%></td>
            <td><%= link_to "edit",  edit_course_offer_path(@course,offer)%></td>
            <td><%= link_to "delete", course_offer_path(@course,offer), method: :delete, data: {confirm: "Are you sure to delete?"}%></td>
          </tr>
      <% end %>

    </table>
<% end %>