<%= form_for(@course) do |f| %>
      <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:
          </h2>
          <ul>
            <% @course.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form-group">
           <%= f.label :subject %>
           <%= f.text_field :subject %>
      </div>

      <div class="form-group">
           <%= f.label :num %>
            <%= f.number_field :num %>
      </div>
      
      <div class="form-group">
           <%= f.label :section %>
            <%= f.number_field :section %>
      </div>
      
      <div class="form-group">
           <%= f.label :title %>
            <%= f.text_field :title %>
      </div>
      
      <div class="form-group">
           <%= f.label :instructor_id %>

      <%= f.select(:instructor_id) do %>
          <% @instructors.each do |inst| -%>
                <%= content_tag(:option, inst.first_name + " " + (inst.middle_name || "") + " " + inst.last_name, 
                                value: inst.id) %>
          <% end %>
      <% end %>

      </div>


      <div>
        <%= f.submit %>
      </div>
  <% end %>