<%= form_for(@course) do |f| %>
      <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:
          </h2>
          <ul>
            <% @course.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form-group">
           <%= f.label :subject %>
           <%= f.text_field :subject %>
      </div>

      <div class="form-group">
           <%= f.label :num %>
            <%= f.number_field :num %>
      </div>
      
      <div class="form-group">
           <%= f.label :section %>
            <%= f.number_field :section %>
      </div>
      
      <div class="form-group">
           <%= f.label :title %>
            <%= f.text_field :title %>
      </div>
      
      <div class="form-group">
           <%= f.label :id_primary_inst %>
            <%= f.number_field  :id_primary_inst %>
      </div>
      <div>
        <%= f.submit %>
      </div>
  <% end %>