<%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:
        </h2>
        <ul>
          <% @course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<span id="span_course_id" style="display:none;"><%= @course.id %></span>

    <div class="col-md-6">
    <table class="table table-condensed">
      <tr>
         <td><%= f.label :subject %></td>
         <td class="required"><%= f.text_field :subject %></td>
      </tr>

      <tr>
         <td><%= f.label :num %></td>
          <td class="required"><%= f.number_field :num %></td>
      </tr>
    
      <tr>
         <td><%= f.label :section %></td>
          <td class="required"><%= f.number_field :section %></td>
      </tr>
    
      <tr>
         <td><%= f.label :title, style:'display: inline-block' %></td>
          <td class="required" ><%= f.text_field :title, style:'display: inline-block' %></td>
      </tr>
          
      <tr>
         <td><%= f.label :instructor_id %></td>
          <td class="required"><%= f.select :instructor_id, instructors_for_select, include_blank: true %></td>
      </tr>
      
      <tr>
         <td><%= f.label :num_ta %></td>
          <td class="required" ><%= f.number_field :num_ta %></td>
      </tr>
      
      <tr>
         <td><%= f.label :num_sgrader %></td>
          <td class="required" ><%= f.number_field :num_sgrader %></td>
      </tr>
      
      <tr>
         <td><%= f.label :num_grader %></td>
          <td class="required" ><%= f.number_field :num_grader %></td>
      </tr>

    </table>
    
    </div>
    
<div style="display:none;" >
    <p><%= f.select :ta_candidate_1, students_for_select, include_blank: true %> </p>
    <p><%= f.select :ta_candidate_2, students_for_select, include_blank: true %> </p>
    <p><%= f.select :ta_candidate_3, students_for_select, include_blank: true %> </p>
    <p><%= f.select :ta_candidate_4, students_for_select, include_blank: true %> </p>
    <p><%= f.select :ta_candidate_5, students_for_select, include_blank: true %> </p>
      <br>
    <p><%= f.select :grader_candidate_1, students_for_select, include_blank: true %> </p>
    <p><%= f.select :grader_candidate_2, students_for_select, include_blank: true %> </p>
    <p><%= f.select :grader_candidate_3, students_for_select, include_blank: true %> </p>
    <p><%= f.select :grader_candidate_4, students_for_select, include_blank: true %> </p>
    <p><%= f.select :grader_candidate_5, students_for_select, include_blank: true %> </p>
    <br>
    <p><%= f.select :sgrader_candidate_1, students_for_select, include_blank: true %> </p>
    <p><%= f.select :sgrader_candidate_2, students_for_select, include_blank: true %> </p>
    <p><%= f.select :sgrader_candidate_3, students_for_select, include_blank: true %> </p>
    <p><%= f.select :sgrader_candidate_4, students_for_select, include_blank: true %> </p>
    <p><%= f.select :sgrader_candidate_5, students_for_select, include_blank: true %> </p>
            <button type="button" onclick="fill_candidate_blanks()">test</button>
</div>
    <div class="col-md-12">
    <table>

      <tr id="ls_ta"  count="0">
         <td>TA Candidates:</td>
             <td>    
                 <button type="button" class="btn btn-default btn-sm" onclick="reset_ta_cand()">reset</button>
             </td>
  <% @ta_candidates.each do |student| %>
      <td name="<%= student.id%>">
          <button type="button" class="btn btn-success"> <%= student.fullname %> </button>
      </td>
  <% end %>
      </tr>
      
      <tr id="ls_grader" count="0">
         <td>Grader Candidates:</td>
             <td>    
                 <button type="button" class="btn btn-default btn-sm" onclick="reset_grader_cand()">reset</button>
             </td>
<% @grader_candidates.each do |student| %>
      <td name="<%= student.id%>">
          <button type="button" class="btn btn-info"> <%= student.fullname %> </button>
      </td>
  <% end %>
      </tr>
      
      <tr id="ls_sgrader" count="0">
         <td>Senior Grader :</td>
             <td>    
                 <button type="button" class="btn btn-default btn-sm" onclick="reset_sgrader_cand()">reset</button>
             </td>         
  <% @sgrader_candidates.each do |student| %>
      <td name="<%= student.id%>">
          <button type="button" class="btn btn-warning"> <%= student.fullname %> </button>
      </td>
  <% end %>
      </tr>
     
    </table>
    </div>
    <br>
    <%= f.submit %>
<% end %>