<%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:
        </h2>
        <ul>
          <% @course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<span id="span_course_id" style="display:none;"><%= @course.id %></span>

    <div class="col-md-6">
    <table class="table table-condensed">
      <tr>
         <td><%= f.label :subject %></td>
         <td class="required"><%= f.text_field :subject %></td>
      </tr>

      <tr>
         <td><%= f.label :num %></td>
          <td class="required"><%= f.number_field :num %></td>
      </tr>
    
      <tr>
         <td><%= f.label :section %></td>
          <td class="required"><%= f.number_field :section %></td>
      </tr>
    
      <tr>
         <td><%= f.label :title, style:'display: inline-block' %></td>
          <td class="required" ><%= f.text_field :title, style:'display: inline-block' %></td>
      </tr>
          
      <tr>
         <td><%= f.label :instructor_id %></td>
          <td class="required"><%= f.select :instructor_id, instructors_for_select, include_blank: true %></td>
      </tr>
      
      <tr>
         <td><%= f.label :num_ta %></td>
          <td class="required" ><%= f.number_field :num_ta %></td>
      </tr>
      
      <tr>
         <td><%= f.label :num_sgrader %></td>
          <td class="required" ><%= f.number_field :num_sgrader %></td>
      </tr>
      
      <tr>
         <td><%= f.label :num_grader %></td>
          <td class="required" ><%= f.number_field :num_grader %></td>
      </tr>

    </table>
    
    </div>
    
    <div class="col-md-12">
    <table>
      <tr id="ls_ta"  count="0">
         <td><%= f.label :num_ta, 'TA Candidates:' %></td>
         
      </tr>
      <tr id="ls_grader" count="0">
         <td><%= f.label :grader_candidate_1, 'Grader Candidates:' %></td>
     
      </tr>
      <tr id="ls_sgrader" count="0">
         <td><%= f.label :sgrader_candidate_1, 'Senior Grader Candidates:' %></td>
      </tr>
     
    </table>
    </div>
    <%= f.submit %>
<% end %>