<% content_for :body do %>
<%= form_tag course_updateCandidates_path(@course), method: "post" do %>
<table class="table table-bordered table-hover" id="tab_all_stu">
    
    <tr>
        <th>Name</th>
        <th>UIN</th>
        <th>Date Enrolled</th>
        <!--<th>Grade</th>-->
        <th>Assign Job</th>
    </tr>
    
    <% @students.each do |student| %>
    <tr>
        <td><%= link_to student.fullname, student_path(student) %></td>
        <td><%= student.uin %></td>
        <td><%= student.date_enrolled %></td>
        <td>
            <%= radio_button_tag "job[#{student.id}]", nil, :checked => candidate_type(student)=="none" %>
            <%= label_tag "job[#{student.id}]", 'none' %>
            <% Apply.appTypes.keys.each do |type| %>
                <%= radio_button_tag "job[#{student.id}]", type, :checked => candidate_type(student)==type %>
                <%= label_tag "job[#{student.id}]", type %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>
<%= submit_tag "Update" %>
<% end %>

<%= link_to 'Back', courses_path %>
<% end %>