<% content_for :body do %>
<%= render 'form' %>
<hr>
<div style="margin:20px">
  <button type="button" class="btn btn-success">TA Applicants</button>
  <button type="button" class="btn btn-info">Grader Applicants</button>
  <button type="button" class="btn btn-warning">Senior Grader Applicants</button>
</div>

<table class="table table-bordered table-hover" id="tab_all_stu">
  <tr>
    <th>Name</th>
    <th>UIN</th>
    <th>Date Enrolled</th>
    <!--<th>Grade</th>-->
    <th>Details</th>
    <th>Assign Job</th>
  </tr>
  
    <% @ta_applicants.each do |student| %>
      <tr class="bg-success">
      <td><%= student.fullname %></td>
      <td><%= student.uin %></td>
        <td style="display:none;" ><%= student.id %></td>
      <td><%= student.date_enrolled %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
      <td>
        <form>
             <label class="radio-inline"><input type="radio" name="role" value="none" checked="checked"> None </label>
             <label class="radio-inline"><input type="radio" name="role" value="ta"> TA </label>
             <label class="radio-inline"><input type="radio" name="role" value="grader">Grader </label>
             <label class="radio-inline"><input type="radio" name="role" value="sgrader"> Senior Grader </label>
        </form>
      </td>
    </tr>
    <% end %>
    
  <% @grader_applicants.each do |student| %>
      <tr class="bg-info">
      <td><%= student.fullname %></td>
      <td><%= student.uin %></td>
        <td style="display:none;" ><%= student.id %></td>
      <td><%= student.date_enrolled %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
      <td>
        <form>
             <label class="radio-inline"><input type="radio" name="role" value="none" checked="checked"> None </label>
             <label class="radio-inline"><input type="radio" name="role" value="ta"> TA </label>
             <label class="radio-inline"><input type="radio" name="role" value="grader">Grader </label>
             <label class="radio-inline"><input type="radio" name="role" value="sgrader"> Senior Grader </label>
        </form>
      </td>
    </tr>
    <% end %>
    
    
  <% @sgrader_applicants.each do |student| %>
      <tr class="bg-warning">
      <td><%= student.fullname %></td>
      <td><%= student.uin %></td>
        <td style="display:none;" ><%= student.id %></td>
      <td><%= student.date_enrolled %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
      <td>
        <form>
             <label class="radio-inline"><input type="radio" name="role" value="none" checked="checked"> None </label>
             <label class="radio-inline"><input type="radio" name="role" value="ta"> TA </label>
             <label class="radio-inline"><input type="radio" name="role" value="grader">Grader </label>
             <label class="radio-inline"><input type="radio" name="role" value="sgrader"> Senior Grader </label>
        </form>
      </td>
    </tr>
    <% end %>

  <% @students.select {|student| 
    !(@ta_applicants.include? student or @grader_applicants.include? student or @sgrader_applicants.include? student)
    }.each do |student| %>

      <td><%= student.fullname %></td>
      <td><%= student.uin %></td>
        <td style="display:none;" ><%= student.id %></td>
      <td><%= student.date_enrolled %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
      <td>
        <form>
             <label class="radio-inline"><input type="radio" name="role" value="none" checked="checked"> None </label>
             <label class="radio-inline"><input type="radio" name="role" value="ta"> TA </label>
             <label class="radio-inline"><input type="radio" name="role" value="grader">Grader </label>
             <label class="radio-inline"><input type="radio" name="role" value="sgrader"> Senior Grader </label>
        </form>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', courses_path %>
<% end %>


