    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
      <a class="nav-link"><%= link_to "Dashboard", admin_index_path %></a>
      </li>
      <li class="nav-item">
      <a class="nav-link"><%= link_to "Courses", admin_courses_path %></a>
      </li>
      <li class="nav-item">
      <a class="nav-link"><%= link_to "Instructors", admin_instructors_path %></a>
      </li>
      <li class="nav-item">
      <a class="nav-link"><%= link_to "All applications", admin_applies_path %></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link"><%= link_to "All offers", admin_offers_path %></a>
      </li>
    </ul>