    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link"><%= link_to "Dashboard", instructor_dashboard_path(currentInstructor) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to "Edit your information", edit_instructor_path(currentInstructor) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to "Your Courses", instructor_courses_path(currentInstructor) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to "Applies to your courses", instructor_applies_path(currentInstructor) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to "Offers to your courses", instructor_checkStatus_path(currentInstructor) %></a>
      </li>
    </ul>
