<!DOCTYPE html>
<html>
<head>
  <title>HelloWorld</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-custom fixed-top">
  <a class="navbar-brand" href="#">TA Application System</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Sign In</button>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar" id="side-nav-bar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link"><%= link_to "Home", :controller => 'students', :action => 'index' %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><%= link_to "Basic Info", :controller => 'students', :action => 'basic_info' %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><%= link_to "Apply", :controller => 'students', :action => 'apply' %></a>
        </li>
        <li class="nav-item">
          <!--<a class="nav-link" href="student#checkStatus">Check Application Status</a>-->
          <a class="nav-link"><%= link_to "Check Application Status", :controller => 'students', :action => 'checkStatus' %></a>
        </li>
      </ul>

    </nav>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <%= yield %>
    </main>
  </div>
</div>



</body>
</html>
