<!DOCTYPE html>
<html>
<head>
  <title>HelloWorld</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-custom fixed-top">
    <a class="navbar-brand" href="#">TA Application System</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto"></ul>
      <p class="navbar-nav mr-sm-2" style="color:white">You logged in as <%= session[:user_type] %></p>
      <%= link_to 'Logout', welcome_index_path, {:class=>"btn btn-outline-secondary my-2 my-sm-0"} %>
      <!--<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Sign In</button>-->
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar" id="side-nav-bar">
        <%= render usernav%> <%# see in app/helpers/application_helper.rb %>
      </nav>
  
      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <p class="notice"><%= flash[:notice] %></p>
        <p class="alert"><%= flash[:error] %></p>
        <%= yield :body %>
      </main>
    </div>
  </div>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
